
<!DOCTYPE html>
<html>
<head lang="ko">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>이용 약관</title>
    <link rel="stylesheet" type="text/css" href="http://fs.sports.naver.com/error/css/fantasy.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
    </style>
</head>
<body style="background-color: #1089CE; color: white;">
<div class="container" style="padding: 1rem; font-size: 110%;font-family: 'Nanum Gothic', sans-serif;">
    <div id="test">
        <h3>Terms and Conditions</h3>
        <br />
        <b>Chapter 1: General Provisions</b><br />
        <br />
        <b>Article 1 (Purpose)</b> <br />
        The purpose of these Terms and Conditions is to define the rights, duties, and other matters of the company and its users in relation to the services which POMERIUM PTE. LTD. (hereinafter referred to as "company") provides using wire and wireless communication network. <br />
        <br />
        <b>Article 2 (Definition of Terms) </b> <br />
        ① The definitions of the terms used in these Terms and Conditions are as follows. <br />
        1. "Company" means a person who provides a member with services (contents and services). <br />
        2. “Member” means a person who makes a service contract under these terms and conditions and gets the right to use the service provided by the company. <br />
        3. "Temporary member" (referred to as a guest member) means a member who does not link or authenticate account information with an external account or uses the services (contents and other services) provided by the company through the guest login mode. <br />
        4. “Mobile device” means a device that people can use by downloading or installing content, including mobile phones, smartphones, personal digital assistants (PDAs), tablet PC, etc. <br />
        5. "Account information" means an information provided by the member to the company such as member number, external account information, device information, nickname, profile picture, and friend list; game usage information (character information, item, level, etc.); and use fee payment information, etc. <br />
        6. "Content" means all the paid or free content (game and network services, applications, game money, game items, etc.) that the company produces digitally related to the provision of the service so that members can use it with mobile devices. <br />
        7. “Paid payment” means making a payment through a payment company recognized by the company to purchase or use the content within the service. <br />
        8. "Affiliate service" means a service that the company provides through a partnership with other mobile platform service companies such as Kakao, and it refers to individual or all services provided so that members can use the service on a mobile device using the information to join the affiliated mobile platform, profile picture, etc. <br />
        9. “Open market” means an e-commerce environment made for installing and paying for game content on a mobile device. <br />
        10. “Application” means all programs downloaded or installed through a mobile device to use the services provided by the company. <br />
        11. “Game service” is one of the services provided by the company, and means games that members run on mobile devices and services accompanying them. <br />
        ② The definitions of the terms used in these Terms and Conditions, except for those set forth in Paragraph 1 of this Article, shall be defined according to the related laws and service-specific policies, and what is not defined here is handled according to the commercial practice. <br />
        <br />
        <b>Article 3 (Provision of Company Information, etc.) </b> <br />
        ① The company posts the following items on the company website (https://pomerium.space/).
        1. Company name &amp; CEO name<br />
        2. Address of business office (including the address where complaints of members can be handled) and e-mail address<br />
        3. Phone number or fax number<br />
        4. Company registration number<br />
        5. Telecommunication sales business report number<br />
        6. Privacy policy<br />
        7. Terms and Conditions of Service<br />
        ② The applications with restrictions on the output enable members to link and see the terms of use and personal information processing policy within the service. The members can see the CEO's name, company name, business address, phone number or fax number, business registration number, and mail-order business report number on the connection screen. <br />
        ③ The contents, information, conditions of use, minimum system specifications (OS), and use level of the services provided by the company are displayed on the company's website and sales screens of each open market. <br />
        <br />
        <b>Article 4 (Effect and Change of Terms and Conditions) </b><br />
        ① The company posts the contents of these terms and conditions within the game service or on its connection screen so that members can see them. <br />
        Among the contents of these terms and conditions, important contents such as service interruption, subscription withdrawal, refund, contract cancellation/termination, and the company's disclaimer are displayed in bold letters, colors, codes, etc., or handled for members to easily identify through a separate connection screen. <br />
        ② When the company amends these terms and conditions, it specifies the date of application, the content of the amendment, and the reason for the amendment, and notifies members by posting within the game service or its connection screen at least 7 days before the application date. However, when the changed content is unfavorable to the members or a great matter, the company shall notify in the same way as in the text until 30 days before the application date, and it shall notify the members according to the method of Article 27, Paragraph 1. In this case, it shall display so that members can easily understand them through a clear comparison of the contents before and after the amendment. <br />
        ③ When the company amends these terms and conditions, after notifying the changed terms and conditions, the company shall check if the members agree to the application of the changed terms and conditions. When notifying the content in paragraph 2, the company shall also notify the members that if they do not agree or reject the changed terms and conditions, the company may consider it as an agreement. If the members do not express their intentions of rejection by the enforcement date of these terms and conditions, it may be regarded as an agreement to the amendment. If a member does not agree to the changed terms and conditions, the company or the member may terminate the service use contract. <br />
        ④ The company takes necessary measures so that the members can ask questions about the company and these terms and conditions, and receive answers. <br />
        <br />
        Article 5 (Conclusion and Application of Use Contract) <br />
        ① If a person who wishes to become a member (hereinafter referred to as “applicant for membership”) agrees to these terms and conditions, then applies for service use, and the company approves the application, the use contract shall be concluded. <br />
        ② In principle, the company accepts the application of an applicant for membership. However, the company may refuse to accept applications for the usage that falls under any of the following subparagraphs. <br />
        1. When the contents of the application for use are falsely written or the requirements for application for use are not met<br />
        2. When the company does not provide the service or someone applies for use through an unusual or indirect method in a country where the service has not been decided to be provided<br />
        3. When the application is made to harm social well-being and order or traditional custom<br />
        4. When someone intends to use the game service for bad purposes<br />
        5. When someone intends to use the game service to pursue profit<br />
        6. When applying for use through a mobile device, program, etc. with which the company restricts the use of the service<br />
        7. When it is judged that the acceptance is improper due to other reasons corresponding to each subparagraph<br />
        <br />
        ③ If it falls under any of the following subparagraphs, the Company may postpone acceptance until the reason is solved. <br />
        1. When there is no room in the company's facilities, it is difficult to support a specific mobile device, or there is a technical obstacle<br />
        2. When there is a service problem or problem with the service fee or payment method<br />
        3. When it is judged that it is difficult to accept the application for use due to reasons corresponding to other subparagraphs<br />
        <br />
        ④ When a member completes the process of agreeing to these terms and conditions or entering the necessary information to use the service, the company shall allow the member to use the service immediately if there is no reason to postpone the acceptance or to refuse. However, if the matters corresponding to paragraph 2 are identified later, the use may be restricted or the contract may be terminated in accordance with the provisions of these Terms and Conditions. <br />
        ⑤ The company may provide a temporary member function for game services for the user's convenience. When it falls in any of the following cases of each subparagraph while using the temporary member function, account information may be deleted or records cannot be checked, and the account information of the game service used through the temporary member function may not be linked or transferred later. In this case, the company does not guarantee the recovery of account information and does not take any responsibility for the damage. However, if there is any negligence or mistake of the company, it is not the case. <br />
        1. When a member changes his/her mobile device<br />
        2. When a member remodels or initializes his/her mobile device<br />
        3. When a member deletes all or part of the content, such as applications, from his/her mobile device<br />
        <br />
        <b>Article 6 (Operational Policy) </b> <br />
        ① The company may determine the necessary matters and the specific scope to apply these terms and conditions, and the delegated matters may be included in the game service operational policy (hereinafter referred to as the “operational policy”). <br />
        ② The company posts the contents of the operational policy within the game service or on its connection screen so that members can see it. <br />
        ③ When amending the operational policy, it only follows the procedure in Article 4, Paragraph 2. However, if the amendment of the operational policy falls in the cases of any of the following subparagraphs, it will be notified in advance using the method in Paragraph 2. <br />
        1. When amending the delegated matters by determining the scope in these terms and conditions<br />
        2. When amending matters not related to the rights and obligations of members<br />
        3. When the contents of the operational policy are not fundamentally different from those set forth in these terms and conditions and the operational policy is amended within the range that members can predict<br />
        <br />
        <br />Article 7 (Protection &amp; Use of Personal Information) </b>  <br />
        ① The company tries to protect the personal information of members as stipulated by the relevant laws and regulations, and it follows the relevant laws and regulations and the company's privacy policy for the protection and use of personal information. However, the company's privacy policy does not apply to linked services other than those provided by the company. <br />
        ② Information which introduces a member, such as nicknames, character photos, and status information that is not related to the member's personal information may be disclosed depending on the nature of the service. <br />
        ③ The company does not make public the member's personal information to others without the consent of the member, except when there is a request from the relevant government agency under the relevant laws and regulations. <br />
        ④ The company does not take any responsibility for any damage caused by the leakage of personal information due to reasons attributable to the member. <br />
        <br />
        <br />Article 8 (Obligations of the Company) </b> <br />
        ① The company sincerely observes the exercise of rights and fulfillment of obligations stipulated in the relevant laws and these terms and conditions in good faith. <br />
        ② The company must not only have a security system to protect personal information (including credit information) so that members can use the service safely, but it also announces publicly and comply with the privacy policy. The company shall not disclose or provide the member's personal information to a third party, except as stipulated in these terms and conditions and the privacy policy. <br />
        ③ When there happens a failure in the facility or the data is lost or damaged while improving the service to provide continuous and stable service, the company does its best to repair or recover this as long as there is any unavoidable reason, such as natural disasters, emergencies, and obstacles and defects that cannot be solved with current technologies. <br />
        <br />
        <b>Article 9 (Obligations of Members) </b>  <br />
        ① Members must not do any of the following acts in relation to the use of the services provided by the company. <br />
        1. Providing false information when applying for use or changing member information<br />
        2. Buying, selling, or donating cyber assets (ID, character, item, game money, etc.) through services not provided by the company or through abnormal methods, or acquiring and using them<br />
        3. Posting messages or sending e-mails by disguising an employee or operator of the company or stealing the name of another person, and pretending to be someone else or falsely specifying a relationship with another person<br />
        4. Purchasing paid content by stealing another person's credit card, wired/wireless phone number, bank account, etc., and fraudulently using another member's ID and password<br />
        5. Collecting, keeping, posting, or spreading personal information of other members without permission<br />
        6. Using the service unsoundly: Conducting or inducing acts of speculation like gambling; exchanging or posting obscene or vulgar information, or linking obscene websites; and sending or spreading words, sounds, writings, pictures, photos, or videos that cause shame, disgust or fear to others<br />
        7. Using the service without permission for purposes other than its original purpose, such as profit, business, advertising, public relations, political activities, election campaigns, etc. <br />
        8. Copying, distributing, promoting, or commercially using information obtained by using the company's service without permission, or using the service by abusing known or unknown bugs<br />
        9. Gaining an advantage by deceiving others and causing harm to others in relation to the use of the company's services<br />
        10. Infringing on the intellectual property rights or portrait rights of the company or others and defaming or inflicting damage on the reputation of others<br />
        11. Intentionally transmitting, posting, distributing, or using information (computer programs) whose transmission or posting is prohibited by law, or viruses, computer code, files, programs, etc. designed to interfere with or destroy the normal operation of computer software, hardware, or telecommunication equipment<br />
        12. Changing the application without receiving special rights from the company; adding or inserting other programs into the application; hacking or reverse-engineering the server; leaking or changing the source code or application data; building a separate server; or personating the company by arbitrarily changing or stealing a part of the website<br />
        13. Using, distributing, or attempting to use software, applications, etc. which correspond to subparagraphs 11 or 12<br />
        14. Requesting another person to play a game (substitute fostering, etc.) by paying a price such as money<br />
        15. Other acts that violate related laws or against good customs and other social norms<br />
        ② Members take responsibility for managing their accounts and mobile devices, and should not allow others to use them. The company does not take any responsibility for damages caused by poor management of mobile devices or permission for others to use them. <br />
        ③ Members must set and manage the payment password function to prevent unjust payments in each open market. The company is not responsible for damages caused by the member's negligence. <br />
        ④ The company may set the specific details of the acts in the following subparagraphs, and members must follow them. <br />
        1. Member's account name, character name, guild name, and other names used in the game<br />
        2. Chat content and method<br />
        3. How to use bulletin board and service<br />
        4. External mobile platform affiliate service policies such as Kakao, Facebook, Google Plus, etc. <br />

        <b>Article 10 (Provision of Service) </b>  <br />
        ① Under the provisions of Article 5, the company shall allow members who have concluded the use contract to use the service immediately. However, some services can be started from the designated date depending on the necessity of the company. <br />
        ② The company may provide other additional services, including the services stipulated in these terms and conditions, when providing game services to members. <br />
        ③ The company may classify the member's level and discriminate the use by subdividing the usage time, frequency of use, and scope of services provided. <br />

        <b>Article 11 (Use of Service) </b>  <br />
        ① The company shall provide game service for a set time according to the company's business policy. The company shall inform the service provision time in an appropriate way within the game service or in the announcement. If there is no indication or notice, 24 hours shall be provided as the basic time. <br />
        ② Despite Paragraph 1, the company may temporarily suspend all or part of the service in the following cases of each paragraph. In this case, the company shall notify the reason and period of suspension in advance on the initial screen of the game application or game service notice. However, if there are unavoidable circumstances that cannot be notified in advance, it may be notified later. <br />
        1. When it is necessary for system operation such as regular system check, server expansion and replacement, network instability, etc. <br />
        2. When it is impossible to provide normal service due to power outage, failure of service facilities, congestion of service use, facility maintenance or check of telecommunications service providers, etc. <br />
        3. When there happens a situation beyond the company's control, such as wars, incidents, natural disasters, national emergencies, etc. <br />
        ③ The company shall provide the service using a dedicated application or network for mobile devices. Members can use free services or paid services by downloading and installing the application or using the network. <br />
        ④ Users must pay the fee specified for the service to use paid content. When downloading an application or using a service through a network, users may pay for a separate fee set by the subscribed mobile carrier. <br />
        ⑤ The services that members use by downloading and installing an application or through a network are provided depending on the characteristics of mobile devices or carriers. In the case of performing mobile device change, number change, or overseas roaming, all or part of the content may not be available. In this case the company shall not take any responsibility for it. <br />
        ⑥ The services that members use by downloading and installing an application or through a network, background tasks may be performed. In this case, users may pay additional fees to adjust the characteristics of the mobile device or carrier, and the company shall not take any responsibility for it. <br />
        ⑦ Despite paragraph 1, if the provision of the service is prohibited or restricted at a specific time or method according to the relevant laws, business association compliance rules, etc., the service may not be provided, and the company shall not take any responsibility for any matters related to it. <br />
        <br />
        <b>Article 12 (Community Service) </b>  <br />
        ① Community service means a service such as a bulletin board provided by the company so that a large number of users can freely exchange opinions and promote friendship. <br />
        ② Members can use community service by linking affiliate service accounts or through other methods provided by the company. <br />
        ③ When a member signs up to use the community service, the member's information may be disclosed to the management for smooth service operation. <br />
        ④ When community service is provided in connection with affiliate services, if a member loses his/her membership of the affiliate service or withdraws, community services may not be provided normally. <br />
        ⑤ The company may contain matters necessary for the protection of the rights and interests of members and the provision of sound community services in the operational policy or set forth in a separate policy, and members must comply with them. The company shall notify members of the contents of the operational policy or separate policy by posting within the service or community service or providing a connection screen so that members can see. <br />
        <br />
        <b>Article 13 (Change &amp; Suspension of Service) </b>  <br />
        ① The company may change the service depending on the operational or technical needs to smoothly provide game service, and it shall notify the change in advance within the game service. However, if there is an unavoidable need for change, such as fixing bugs/errors or emergency updates, or if it does not correspond to a significant change, the company may notify it later. <br />
        ③ The company may suspend all services when it is difficult to continue to provide the game service due to serious business reasons including the abolition of business caused by business transfer, division, merger, etc., contract expiration of game provision, the significant deterioration of profit, etc. In this case, the company shall notify the date of suspension, reasons for the suspension, conditions of compensation, etc., on the initial screen of the game application or its connection screen by 30 days before the date of suspension. And<br /> it shall also notify the members of it according to the method of Article 27, Paragraph 1.
        ④ In the case of Paragraph 2, the company shall refund the paid items that have not been used or whose use period remains under Paragraph 3 of Article 24. <br />
        <br />
        <b>Article 14 (Collection of Information, etc.) </b>  <br />
        ① The company can save and keep chatting content between members, and only the company owns this information. The company can access this information only to resolve disputes between members, handle complaints, or maintain game order, and a third party only authorized by law can access this information. <br />
        ② When the company or a third party access chatting information under Paragraph 1, the company notifies the member of the reason and scope of viewing in advance. However, if it is necessary to access this information in relation to the investigation, processing, confirmation of prohibited acts under Article 10, Paragraph 1, or the relief of damage caused by such acts, the company may notify it afterwards. <br />
        ② The company may collect and utilize the member's mobile device information (settings, specifications, operating system, version, etc.) except for the member's personal information for smooth and stable operation of the service and improvement of service quality. <br />
        ④ The company may request additional information from members to improve services and introduce services to members. Members may accept or reject this request, and when the company makes this request, it shall notify the members of the fact that they can reject this request. <br />
        <br />
        <b>Article 15 (Provision of Advertisement) </b>   <br />
        ① The company may post advertisements within the game service in relation to the operation of the service. And the company can send advertisements by e-mail, text service (LMS/SMS), push notification, etc. only to the members who agree to receive them. In this case, the members can reject advertisements at any time, and the company shall not send advertisements when the members reject them.  <br />
        ② Advertisements or services that others provide may be connected through banners or links within the service that the company provides. <br />
        ③ When it is connected to the advertisement or service provided by others under Paragraph 2, the service provided is not the service of the company, so the company does not guarantee its reliability and stability, and the company is responsible for the damage of the members. However, this is not the case if the company permits damages to easily happen intentionally or by gross negligence, or has not taken any measures to prevent them. <br />
        <br />
        <b>Article 16 (Possession of Copyright, etc.) </b>    <br />
        ① The company possesses the copyright and other intellectual property rights for the content within the game service produced by the company. <br />
        ② Members must not use for profits or let others use the information whose intellectual property rights belong to the company or provider among the information obtained using the game service provided by the company, without the prior consent of the company or provider, with the methods such as copy and transmission (Including editing, public announcements, performances, distribution, broadcasting, creation of secondary works, etc., and the following is the same). <br />
        ③ Members allow the company to use communications, images, sounds, all materials, and information (hereinafter referred to as "user content"), including dialogue texts that are shown in the game or uploaded and sent through game applications or game services in relation to the game service under the following methods and conditions: <br />

        1. Using the user content, changing the editing format, and other transformations (it can be used in any form such as publication, reproduction, performance, transmission, distribution, broadcasting, creation of secondary works, etc., and there are no limitations on the period and region of use) <br />

        2. The company does not sell, rent, or transfer user content for transaction without the prior consent of the user who creates the user content. <br />

        ④ The company does not use the member's user content that is not shown in the game and is not integrated with the game service (for example, postings on general bulletin boards, etc.) without the member's explicit consent, and the member can delete such user content at any time. <br />

        ⑤ The company may delete, move, or refuse registration without prior notice when it is judged that the postings within the service posted or registered by the member fall under the prohibited act under Article 10, Paragraph 1. <br />

        ⑥ A members whose legal interests are infringed because of the information posted on bulletin boards operated by the company may request the company to delete the information or post a refutation. In this case, the company shall promptly take necessary measures and notify the member of it. <br />

        ⑦ This article is valid while the company operates the game service, and continues to apply even after membership withdrawal. <br />

        <br />
        <b>Article 17 (Purchase, Use Period, and Use of Paid Contents) </b>  <br />
        ① Members can use the paid contents that members purchase within the game service only on the mobile devices that download or install the application. <br />
        ② The use period of the paid contents that members purchase follows the period specified at the time of purchase. <br />
        <br />
        <b>Article 18 (Restrictions on Service Use of Members) </b>  <br />
        ① Members must not violate the obligation of the member according to Article 11. When a member does such an act, the company may take measures to restrict the use of the service of the member according to the following subparagraphs, including limitation of using service, deletion of related information (writings, photos, videos, etc.), and other measures. The specific reasons and procedures for the restrictions are determined in the operational policy of each game under Article 20, Paragraph 1. <br />
        1. Restriction of some rights: Certain rights such as chatting for a certain period is restricted<br />
        2. Restriction on character use: The use of member characters is restricted for a certain period or permanently<br />
        3. Restrictions on account use: The use of member accounts is restricted for a certain period or permanently<br />
        4. Restrictions on member use: The use of member's game services is restricted for a certain period or permanently<br />
        ② When the use restriction in paragraph 1 is reasonable, the company shall not compensate members for damages caused by the use restriction. <br />
        ③ The company may suspend the service use of the account until the investigation of the reasons for the following subparagraph is completed. <br />
        1. When the company receives a legitimate report that an account has been hacked or stolen<br />
        2. When a user is suspected of using an illegal program or workplace or doing an illegal act<br />
        3. In addition, when a tentative suspension of service is needed due to reasons of each subparagraph, <br />
        <br />
        ④ After the check of paragraph 3 is completed, the company shall extend the member's usage time by the amount of time suspended or compensate with paid service or cash equivalent to the paid game service suspended. However, this is not the case when the member falls under the reasons in each subparagraph of Paragraph 3. <br />
        <br />
        <b>Article 19 (Reasons &amp; Procedures for Use Restriction Measures) </b> <br />
        ① The company shall determine the specific reasons and procedures for the use restriction measures under Article 19, Paragraph 1 as the operational policy considering the content, degree, frequency, and result of prohibited acts under Article 11, Paragraph 1. <br />
        ② When the company takes the use restriction measures set forth in Article 19, Paragraph 1, it shall notify members in advance of the following items. However, if there is an urgent need to take action, it may be notified afterwards. <br />
        1. Reasons for use restriction measures<br />
        2. Type and duration of use restriction measures<br />
        3. How to raise an objection to use restriction measures<br />
        ③ When a member wishes to object to the company's use restriction measures, he or she must submit an objection paper to the company with the method of writing, electronic documents, etc., stating the reason for disobedience with the company's use restrictions within 15 days from the date of notification. <br />
        ④ The company responds to the objection paper within 15 days from the date of receiving it under paragraph 3 in writing or by electronic document and takes measures accordingly. However, if it is difficult to respond within 15 days, the company shall notify the member of the reason and handling schedule. <br />
        ⑤ If the reason for disobedience is reasonable, the company shall take measures accordingly. <br />
        <br />
        <b>Article 20 (Payment) </b><br />
        ① The imposition and payment of the purchase price for the content follow the policy or method set by the mobile carrier or open market operator. And the limit by method of payment may be given or adjusted according to the policy set by the company or open market operator or the government policy. <br />
        ② When paying for the content purchase in a foreign currency, the actual charged amount of money may differ from the price displayed in the service store, etc. due to exchange rates and fees. <br />
        <br />
        <b>Article 21 (Withdrawal of Subscription) </b><br />
        ① A member who has concluded a contract for the purchase of paid content with the company can withdraw the subscription without the burden of separate fees or penalties within 7 days from the later date between the purchase contract date and the content available date. <br />
        ② Members cannot withdraw their subscriptions under Paragraph 1 against the intention of the company in the following cases of each subparagraph. However, in the case of a purchase contract consisting of divisible contents, this does not apply to the remaining parts of divisible contents that do not fall under the following cases of each subparagraph. <br />
        1. Paid content used or applied immediately upon purchase<br />
        2. Contents using the additional benefits when additional benefits are provided<br />
        3. When there is an act of opening content whose opening can be regarded as using act or whose effectiveness is determined upon opening<br />
        <br />
        ③ The Company shall display the contents that cannot be withdrawn under the provisions of each subparagraph of paragraph 2, and provide a test usage product of the contents (allowing temporary use, providing a product for experience, etc.). When it is difficult to provide these things, the company provides information about the content so that members can exercise their rights to withdraw the subscription without any interference. When the company does not take these measures, members can withdraw the subscription despite the reasons for the restriction on subscription withdrawal in each subparagraph of paragraph 2. <br />
        ④ Despite paragraphs 1 and 2, if the paid contents purchased are different from the contents of the label and advertisement or when it is implemented differently from the purchase contract, members can withdraw the subscription within 3 months from the day when they can use the contents and within 30 days from the day when they recognize the fact or can recognize it. <br />
        ⑤ If a member withdraws his/her subscription, the company shall check the purchase details through the platform operator or open market operator. And the company can contact the member using the information provided by the member to see the member's legitimate reason for withdrawal and can request additional evidence. <br />
        ⑥ If the subscription is withdrawn under the provisions of paragraphs 1 to 4, the company shall immediately retrieve the member's paid content and refund the payment within 3 business days. If the company delays the refund, it shall pay the delayed interest calculated by multiplying the delay period by the interest rate set forth in the 「Act on Consumer Protection in Electronic Commerce, Etc.」 and Article 21-3 of the Enforcement Decree of the same Act. <br />
        ⑦ When a minor concludes a content purchase contract on a mobile device, the company shall notify that he/she or a legal representative can cancel the contract if there is no consent from the legal representative. When a minor has concluded a purchase contract without the consent of a legal representative, he/she or the legal representative can cancel the contract. However, the contract cannot be canceled when he/she purchases the contents with the property that the legal representative has set the scope and allowed to dispose of, or when he/she has tricked the company into believing that he/she is an adult or that he/she gets the consent of the legal representative. <br />
        ⑧ Whether the party of the content purchase contract is a minor is determined based on the mobile device on which the payment was made, information on the person executing the payment, the name of the person having the payment method, etc. And the company can request the submission of documents that can prove a minor and a legal representative to see if the cancellation is legitimate. <br />
        <br />
        <b>Article 22 (Refund of Overpayment) </b>  <br />
        ① In case of overpayment, the company shall refund the overpayment to the member. However, when the overpayment is caused by the member's negligence without the company's intention or negligence, the member shall take the burden of the actual cost required to refund within a reasonable range. <br />
        ② Members shall follow the payment method provided by the open market operator when they pay the paid content, and when there happens an overpayment during the payment process, they must request a refund from the company or the open market operator. However, the company may request the open market operator to complete the necessary refund procedures according to the open market operator's policy system. <br />
        ③ Telecommunication fees (call charges, data communication charges, etc.) incurred by downloading applications or using network services may be excluded from the refund. <br />
        ④ A refund shall be handled according to the refund policy of each open market operator or company depending on the type of operating system of the mobile device used for the service. <br />
        ⑤ The company can contact a member through the information provided by the member to handle the refund of overpayment and request the provision of the necessary information. The company shall refund within 3 business days from the date of receiving the information necessary for a refund from the member. <br />

        <b>Article 23 (Termination of Contract, etc.) </b>  <br />
        ① When a member does not want to use the service, he/she can terminate the use contract at any time through membership withdrawal. After the membership withdrawal, all the information for using a game that the member owns within the game service is deleted and cannot be recovered. It is not recognized as termination of the use contract to delete the application or terminate the linkage with affiliated services. <br />
        ② When there is a serious reason for which this contract cannot be maintained because a member does an act prohibited by these terms and conditions, the operational policy, and the service policy, the company shall notify the suspension before a considerable period and can suspend the use of the service by setting the period or terminate the use contract. <br />
        ③ Refund and compensation for damages under Paragraphs 1 and 2 shall be handled under the 「Contents User Protection Guidelines」. <br />
        ④ To protect the personal information of members who have not used the company's services for one year consecutively from the latest service use date (hereinafter referred to as "sleeper account"), the company can terminate the use contract and take measures such as destroying the member's personal information. In this case, the company shall notify members of the fact that measures such as termination of the contract and destruction of personal information will be taken, as well as the personal information to be destroyed until 30 days before the action date. <br />

        <b>Article 24 (Compensation for Damages) </b>  <br />
        ① The company or member shall take responsibility for compensating for the damage when one party causes damage to the other party by violating these terms and conditions. However, this is not the case when there is no intention or negligence<br />
        ② When the company signs an alliance agreement with an individual service provider and provides individual service to a member, if damages occur due to the intention or negligence of the individual service provider after the member agrees with the terms and conditions of the individual service, the individual service provider shall be responsible for the damages. <br />
        <br />
        <b>Article 25 (Exemption of the Company) </b>  <br />
        ① Free services among the contents and services of the company shall be excluded from compensation for damages. <br />
        ② The company is exempted from the responsibility when it cannot provide services due to natural disasters, war, suspension of services of key telecommunications business operators, and other irresistible conditions. And when the game service is stopped or has a failure due to unavoidable reasons such as repair, replacement, regular check, or construction of game service facilities notified in advance, the company is exempted from the responsibility if there is no intention or gross negligence of the company. <br />
        ③ The company shall not take responsibility for damages caused by repair of service facilities, replacement, regular checks, construction, etc. However, this is not the case when there is an intention or gross negligence of the company. <br />
        ④ The company shall not take responsibility for any obstacles in the use of the service caused by the member's intention or negligence. However, this is not the case when the member has unavoidable or legitimate reasons. <br />
        ⑤ The company shall not take responsibility for the reliability and accuracy of information or data posted by members in relation to the service if there is no intention or gross negligence of the company. <br />
        ⑥ The company has no obligation to intervene in transactions or disputes between members and others through the service and shall not take any responsibility for any damages caused by this. <br />
        ⑦ The company shall not take responsibility for damages incurred by members in connection with the use of free services. However, this is not the case when there is an intention or gross negligence of the company. <br />
        ⑧ The company shall not take responsibility for the member's failure to get the expected benefits by using the service. <br />
        ⑨ The company shall not take responsibility for the loss of the member's experience points, grades, items, game money, etc. However, this is not the case when there is an intention or gross negligence of the company. <br />
        ⑩ The company shall not take responsibility for the payment of third-party that may happen as the member does not keep well the password of the mobile device or the password provided by an open market operator. However, this is not the case when there is an intention or gross negligence of the company. <br />
        ⑪ When a member cannot use all or part of the contents due to a change of mobile device, change of mobile device number, change of operating system (OS) version, overseas roaming, change of carrier, etc., the company shall not take responsibility for it. However, this is not the case when there is an intention or gross negligence of the company. <br />
        ⑫ When a member deletes the contents or account information provided by the company, the company shall not take responsibility for it. However, this is not the case when there is an intention or gross negligence of the company. <br />
        ⑬ The company shall not take responsibility for the damages of temporary members during using the service. However, this is not the case when there is an intention or gross negligence of the company. <br />
        ⑭ The company shall not take responsibility for damages caused by poor management of the member's terminal or permission for a third party to use it. <br />
        <br />
        <b>Article 26 (Notification to Members) </b>  <br />
        ① When the company notifies a member, it can use the member's e-mail address, e-memo, note in the game service, text message (LMS/SMS), etc. <br />
        ② When the company notifies all members, it can substitute for the notification in paragraph 1 by posting within the game service for more than 7 days or presenting a pop-up screen. <br />
        <br />
        <b>Article 27 (Jurisdiction &amp; Governing Law) </b> <br />
        ① These terms and conditions are regulated by and interpreted in accordance with the laws of the Republic of Korea. When a lawsuit is filed due to a dispute between the company and the member, the court following the procedure prescribed by law shall be the competent court. <br />
        <br />
        <b>Article 28 (Member's Grievance Handling &amp; Dispute Resolution) </b> <br />
        ① The company shall guide members on how to present their opinions or complaints within the game service or on its connection screen for the convenience of members. The company shall make dedicated personnel to handle the opinions or complaints. <br />
        ② When the opinions or complaints raised by members are objectively recognized as legitimate, the company shall promptly handle them within a reasonable period. However, when it takes a long time to handle them, the company shall notify members of the reason for the long period and the handling schedule in the game service or under Article 28, Paragraph 1. <br />
        ③ When a dispute happens between the company and a member and a third-party dispute settlement agency regulates it, the company can faithfully prove the measures that it takes to the member, such as restrictions on use, and follow the mediation of the dispute settlement agency. <br />
        <br />
        &lt;Supplementary provision&gt; <br />
        This policy is effective from November 28. 2022.

    </div>
</div>
</body>
</html>
