
<!DOCTYPE html>
<html>
<head lang="ko">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>Fantasy Stadium - Error</title>

</head>
<body>
<div id="wrap">
    <div id="container">
        <div id="titleMsg">

            <br>
            <span id="titleMsg2" >We are very sorry for the inconvenience</span>
        </div>
        <div id="error_box" >
            <br>

            <br><br><br>

        </div>
    </div>
</div>

</body>
</html>
